{% extends "base.html" %}

{% block content %}

<div class="hero">
    <h1>Đăng ký sân thể thao</h1>
</div>

<div class="card">
<form action="/book" method="POST">

    <input type="text" name="name" placeholder="Họ tên" required>
    <input type="text" name="company_id" placeholder="Mã nhân viên" required>
    <input type="text" name="department" placeholder="Phòng ban" required>

    <select name="field">
        {% for f in fields %}
        <option value="{{f}}">{{f}}</option>
        {% endfor %}
    </select>

    <input type="date" name="date" required>
    <input type="time" name="start" required>
    <input type="time" name="end" required>

    <button type="submit">Đăng ký</button>

</form>
</div>

{% endblock %}